@model IEnumerable<MilitaryRegion.ViewModels.BuildingViewModel>

<table class="highlight">
    <thead>
        <tr>
            <th>Building ID</th>
            <th>Square</th>
            <th>Height</th>
            <th>Purpose</th>
            <th>Floor Amount</th>
            <th>Military Base Name</th>
            <th>Squad Number</th>
            <th>Troop Number</th>
            <th>Department Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Square</td>
                <td>@item.Height</td>
                <td>@item.Purpose</td>
                <td>@item.FloorAmount</td>
                <td>@item.MilitaryBaseName</td>
                <td>@item.SquadNumber</td>
                <td>@item.TroopNumber</td>
                <td>@item.DepartmnetNumber</td>
            </tr>
        }
    </tbody>
</table>

