@model IEnumerable<MilitaryRegion.ViewModels.OfficerViewModel>
@using MilitaryRegion.Models

@{
    ViewBag.Title = "Адміністрування: офіцерський склад";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="center">Менеджмент військових частин</h3>
<div class="row">
    <div class="col s8 offset-s2">
        <table class="highlight">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Number</th>
                    <th>City</th>
                    <th>Army Number</th>
                    <th>Corpus Number</th>
                    <th>Division Name</th>
                    <th>Commander</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.Id</td>
                        <td>@Html.ActionLink(item.Name, "EditUser", new { baseId = item.Id })</td>
                        <td>@item.Number</td>
                        <td>@item.City</td>
                        <td>@item.ArmyNumber</td>
                        <td>@item.CorpusNumber</td>
                        <td>@item.DivisionName</td>
                        <td>@item.Commander</td>

                        <td>
                            @using (Html.BeginForm("DeleteMilitaryBase", "Admin"))
                            {
                                @Html.Hidden("baseId", item.Id)
                                <input type="submit" value="Видалити" class="waves-effect waves-light btn" />
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Відфільтрувати по арміях</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown2' class='dropdown-content'>
            @foreach (var army in (ViewBag.Armies as List<Army>))
            {
                <li><a href="@Url.Action("GetBasesOfArmy", "Admin", new { armyId = army.Id})">Army number = @army.Number</a></li>
            }
        </ul>


        <a class='dropdown-trigger btn' href='#' data-target='dropdown3'>Відфільтрувати по корпусах</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown3' class='dropdown-content'>
            @foreach (var corp in (ViewBag.Corps as List<Corp>))
            {
                <li><a href="@Url.Action("GetBasesOfCorp", "Admin", new { corpId = corp.Id})">Corp number = @corp.Number</a></li>
            }
        </ul>

        <a class='dropdown-trigger btn' href='#' data-target='dropdown4'>Відфільтрувати по дивізіях</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown4' class='dropdown-content'>
            @foreach (var division in (ViewBag.Divisions as List<Division>))
            {
                <li><a href="@Url.Action("GetBasesOfDivision", "Admin", new { divisionId = division.Id})">Division Name = @division.Name</a></li>
            }
        </ul>
        <a class='btn' href="@Url.Action("ManageMilitaryBases", "Admin")">Переглянути всі військові частини</a>



    </div>
</div>

