@model IEnumerable<MilitaryRegion.ViewModels.WeaponryViewModel>
@using MilitaryRegion.Models

@{
    ViewBag.Title = "Адміністрування: озброєння";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="center">Менеджмент озброєння : @ViewBag.Type, підрозділи : @ViewBag.CurrentUnit</h3>
<div class="row">
    <div class="col s8 offset-s2">
        @Html.Partial((string)ViewBag.CurrentCategory + "Partial", Model)


        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Фільтр по арміях</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown2' class='dropdown-content'>
            @foreach (var army in (ViewBag.Armies as List<Army>))
            {
                <li><a href="@Url.Action("GetWeaponryOfArmy", "Weaponry", new { armyId = army.Id})">Army number = @army.Number</a></li>
            }
        </ul>


        <a class='dropdown-trigger btn' href='#' data-target='dropdown3'>Фільтр по корпусах</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown3' class='dropdown-content'>
            @foreach (var corp in (ViewBag.Corps as List<Corp>))
            {
                <li><a href="@Url.Action("GetWeaponryOfCorp", "Weaponry", new { corpId = corp.Id})">Corp number = @corp.Number</a></li>
            }
        </ul>

        <a class='dropdown-trigger btn' href='#' data-target='dropdown4'>Фільтр по дивізіях</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown4' class='dropdown-content'>
            @foreach (var division in (ViewBag.Divisions as List<Division>))
            {
                <li><a href="@Url.Action("GetWeaponryOfDivision", "Weaponry", new { divisionId = division.Id})">Division Name = @division.Name</a></li>
            }
        </ul>

        <a class='dropdown-trigger btn' href='#' data-target='dropdown5'>Фільтр по частинах</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown5' class='dropdown-content'>
            @foreach (var militaryBase in (ViewBag.Bases as List<MilitaryBase>))
            {
                <li><a href="@Url.Action("GetWeaponryOfBase", "Weaponry", new { baseId = militaryBase.Id})">Military Base Name = @militaryBase.Name</a></li>
            }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col s8 offset-s2">

        <a class='dropdown-trigger btn' href='#' data-target='dropdown7'>Фільтр по категоріях</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown7' class='dropdown-content'>
            @foreach (var category in (ViewBag.Categories as List<Weaponry>))
            {
                <li><a href="@Url.Action("GetCategory", "Weaponry", new { categoryName = category.Category})">Category = @category.Category</a></li>
            }
        </ul>

        <a class='dropdown-trigger btn' href='#' data-target='dropdown8'>Фільтр по видах</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown8' class='dropdown-content'>
            @foreach (var type in (ViewBag.Types as List<Weaponry>))
            {
                <li><a href="@Url.Action("GetType", "Weaponry", new { typeName = type.Name})">Type = @type.Name</a></li>
            }
        </ul>

        <a class='btn' href="@Url.Action("Index", "Weaponry")">Все озброєння</a>
    </div>
</div>

