
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Домашня сторінка адміністратора</h1>
            <div class="row center">
                <h5 class="header col s12 light">Сторінка адміністратора розроблена з метою полегшення менеджменту бази даних військового округу</h5>
            </div>
            <div class="row center">
                <a href="@Url.Action("ManageMilitaryBases", "Admin")" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Воєнні частини</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/Images/background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Військові частини</h5>
                    <p class="light">Перегляньте дані про військові частини округу - до якої вони дівізії належать, номер корпусу та армії</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Військовослужбовці</h5>
                    <p class="light">Перегляньте дані про військовослужбовців - їхні звання, персональні дані, ланцюг підпорядкованості</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Озброєння та військова техніка</h5>
                    <p class="light">Перегляньте дані про військову техніку та озброєння військових частин воєнного округу</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Фільтруйте дані на основі доступних фільтрів</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/Images/background2.jpg" alt="Unsplashed background img 2"></div>
</div>
<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4 class="center">Функціонал адміністратора</h4>
                <p class="light">Тут адміністратор системи може виконати наступні функції:</p>
                <div class="collection">
                    <a href="@Url.Action("ManageMilitaryBases", "Admin")" class="collection-item">Менеджмент військових частин</a>
                    <a href="@Url.Action("Index", "Weaponry")" class="collection-item">Менеджмент озброєння</a>
                    <a href="@Url.Action("Index", "Technic")" class="collection-item">Менеджмент техніки</a>
                    <a href="@Url.Action("Index", "Serviceman")" class="collection-item">Менеджмент військовослужбовців</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">З легкістю переключайтесь між запитами за допомогою основного меню</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/Images/background3.jpg" alt="Unsplashed background img 3"></div>
</div>






