@model IEnumerable<MilitaryRegion.ViewModels.SergeantViewModel>
@using MilitaryRegion.Models

@{
    ViewBag.Title = "Адміністрування: сержантський склад";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="center">Менеджмент сержантів : @ViewBag.CurrentRank</h3>
<div class="row">
    <div class="col s8 offset-s2">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Serviceman ID</th>
                    <th>Name</th>
                    <th>Date Of Birth</th>
                    <th>Rank</th>
                    <th>Sergeant Rank Date</th>
                    <th>Army Number</th>
                    <th>Corpus Number</th>
                    <th>Division Name</th>
                    <th>Military Base Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>@item.ServicemanId</td>
                        <td>@item.Name</td>
                        <td>@item.DateOfBirth</td>
                        <td>@item.RankName</td>
                        <td>@item.SergeantRankDate</td>
                        <td>@item.ArmyNumber</td>
                        <td>@item.CorpusNumber</td>
                        <td>@item.DivisionName</td>
                        <td>@item.MilitaryBaseName</td>

                        <td>
                            @using (Html.BeginForm("DeleteMilitaryBase", "Admin"))
                            {
                                @Html.Hidden("baseId", item.ServicemanId)
                                <input type="submit" value="Видалити" class="waves-effect waves-light btn" />
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown2'>Фільтр по арміях</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown2' class='dropdown-content'>
            @foreach (var army in (ViewBag.Armies as List<Army>))
            {
                <li><a href="@Url.Action("GetSergeantsOfArmy", "Sergeants", new { armyId = army.Id})">Army number = @army.Number</a></li>
            }
        </ul>


        <a class='dropdown-trigger btn' href='#' data-target='dropdown3'>Фільтр по корпусах</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown3' class='dropdown-content'>
            @foreach (var corp in (ViewBag.Corps as List<Corp>))
            {
                <li><a href="@Url.Action("GetSergeantsOfCorp", "Sergeants", new { corpId = corp.Id})">Corp number = @corp.Number</a></li>
            }
        </ul>

        <a class='dropdown-trigger btn' href='#' data-target='dropdown4'>Фільтр по дивізіях</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown4' class='dropdown-content'>
            @foreach (var division in (ViewBag.Divisions as List<Division>))
            {
                <li><a href="@Url.Action("GetSergeantsOfDivision", "Sergeants", new { divisionId = division.Id})">Division Name = @division.Name</a></li>
            }
        </ul>

        <a class='dropdown-trigger btn' href='#' data-target='dropdown5'>Фільтр по частинах</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown5' class='dropdown-content'>
            @foreach (var militaryBase in (ViewBag.Bases as List<MilitaryBase>))
            {
                <li><a href="@Url.Action("GetSergeantsOfBase", "Sergeants", new { baseId = militaryBase.Id})">Military Base Name = @militaryBase.Name</a></li>
            }
        </ul>

        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn' href='#' data-target='dropdown6'>Фільтр по званнях</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown6' class='dropdown-content'>
            @foreach (var rank in (ViewBag.Ranks as List<Rank>))
            {
                <li><a href="@Url.Action("GetRank", "Sergeants", new { rankId = rank.Id})">Rank Name = @rank.Name</a></li>
            }
        </ul>
        <a class='btn' href="@Url.Action("Index", "Sergeants")">Весь склад</a>



    </div>
</div>

